.detail {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-main-title);
  font-size: clamp(var(--text-3xl), 10vw, var(--text-6xl));
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 100;
  color: var(--mh-pink);
  text-transform: lowercase;
  text-align: center;
  padding-top: var(--spacing-2);
}

.detailContent {
  display: grid;
  grid-template-columns: 1fr;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.characterArea {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.image {
  width: 100%;
  height: auto;
  max-height: 45vh;
  /* Adapt to available container space */
  aspect-ratio: 3 / 4;
  object-fit: contain;
  border-radius: var(--radius-lg);
  background-color: var(--mh-light-gray);
  max-width: 400px;
  margin: 0 auto;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.globalStory {
  font-family: var(--font-story);
  font-size: var(--text-4xl);
  line-height: var(--text-4xl);
  color: var(--mh-gray);
  padding: var(--spacing-4);
  background-color: var(--mh-light-gray);
  border-radius: var(--radius-lg);
}

.groupSelectorAtBottom {
  display: block;
  margin: 0 var(--spacing-2) var(--spacing-2) var(--spacing-2);
}

.groupSelector {
  display: none;
}

@media (min-width: 480px) {
  .characterArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-4);
  }
}

@media (min-width: 768px) {
  .detail {
    padding: 0;
  }

  .detailContent {
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--spacing-2);
    gap: var(--spacing-2);
  }

  .characterArea {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-4);
  }

  .groupSelectorAtBottom {
    display: none;
  }

  .groupSelector {
    display: block;
  }

  .infoContainer {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }

  .image {
    max-width: none;
    max-height: 45vh;
    margin: 0;
  }

  .globalStory {
    font-size: var(--text-4_5xl);
    line-height: var(--text-4_5xl);
  }
}
