

@font-face {
  font-family: 'Learning Curve';
  src: url('/fonts/LearningCurve.woff2') format('woff2');
}

@font-face {
  font-family: 'Nesting';
  src: url('/fonts/Nesting.woff2') format('woff2');
}
